/* Start img1  */

.pics{
  width:400px;
   height:216px;
   background: url(../img/moto3.jpg) no-repeat center center;
   float: left;
   margin-top: 10px;
   margin-bottom: 10px;
   margin-right: 10px;
    margin-left: 10px
    }

.text{
  width: 300px;
  height: 156px;
  background: #fff;
  opacity: 0;
  margin-top: 0px;
  margin-left: -0.5px;
  }


.pics:hover .text {
        opacity:0.6;
        text-align:justify;
        color:#000;
        font-size:20px;
        font-weight:700;
        font-family:"Times New Roman", Times, serif; padding:30px;
        width: 340px;
}
/* End img1  */

/* Start img2  */

.pics1{
  width:400px;
   height:216px;
   background: url(../img/moto2.jpg) no-repeat;
   float: left;
    margin-top: 10px;
    margin-bottom: 10px;
      margin-right: 10px
    }
.text1{
  width: 340px;
  height: 156px;
  background: #fff;
  opacity: 0;
  margin-top: 0px;
  margin-left: -0.5px;
      }
.pics1:hover .text1 {
        opacity:0.6;
        text-align:justify;
        color:#000000;
        font-size:20px;
        font-weight:700;
        font-family:"Times New Roman", Times, serif; padding:30px;
}
/* End img2  */
/* Start img3  */
.pics3{
  width:360px;
   height:216px;
   background: url(../img/moto4.jpg) no-repeat center center;
   margin-top: -225px;
float: left;
    margin-left: 840px
    }

.text3{
  width: 300px;
  height: 156px;
  background: #fff;
  opacity: 0;
  }


.pics3:hover .text3 {
        opacity:0.6;
        text-align:justify;
        color:#000;
        font-size:20px;
        font-weight:700;
        font-family:"Times New Roman", Times, serif;
        padding:30px;
        width: 300px;
}
